<phpunit colors="true">
    <testsuites>
        <testsuite name="Phergie Daddy Plugin Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFiles="true">
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-php" target="build/cov/coverage.cov"/>
        <log type="coverage-clover" target="build/cov/clover.xml"/>
    </logging>
</phpunit>
